<html>
    <head>
        <title>
            myToDoList
        </title>
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1&amp;subset=korean" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    </head>

    <body>
            <div class = "container">
                    <div class = "row"><div class ="col-xs-12 col-md-6 col-md-offset-3 jumbotron form-group">
                        <h3>My ToDo List</h3>
                        <form method = "POST" action = '{% url "add_todo" %}'>
                            <div class = "row">
                                <label for="todo_inputBox">todo:</label>
                                <input name = "todo_text" id = "todo_inputBox" placeholder="todo" class= "form-control">
                            </div>
                     
                            <div class = "row"> 
                                <label for="priority_selectBox">중요도:</label>
                                <select name = "todo_priority" id = "priority_selectBox"  class= "form-control">
                                    <option value = 1 selected>보통</option>
                                    <option value = 2>중요</option>
                                    <option value = 3>매우 중요</option>
                                </select>
                            </div>
            
                            <div class = "row">
                                <label for="todo_due_inputBox">기한:</label>
                                <input name = "todo_due" id = "todo_due_inputBox" placeholder ="Due Date" type = 'date'  class= "form-control">
                            </div>
                    
                            <div class = "row">
                                <button id = "add_todo_button" type = "submit" class = "btn btn-success">기록</button>
                            </div>
                            
                                {% csrf_token %}
                        </form>
                    </div></div>
                    
                    <div class = "row"><div class ="col-xs-12 col-md-6 col-md-offset-3 jumbotron">
                        <h3>진행중인 일들</h3>
                        <table id = "todo_textBox" class="col-xs-12 table table-hover">
                            <tr><th>완료</th><th>삭제</th><th>기한</th><th>내용</th><th>중요도</th></tr>
                            {% for todo in list_of_todo %}
                            <tr {% if todo.due < today %} class = "danger"  data-toggle="tooltip" data-placement="top" title="기한이 지났습니다"{% endif %}>
                                <td><form  method = "post" action =  '{% url "complete_todo" %}'>
                                        {% csrf_token %}
                                        <input name = "id" value ="{{todo.id}}" hidden>
                                        <button type="submit" 
                                            id = "{{todo.text}}_complete_button"
                                            data-toggle="tooltip" data-placement="top" title="todo 완료">
                                        <span class = "glyphicon glyphicon-ok"></span>
                                        </button>
                                </form> </td>
                                <td>
                                    <button type="button" class="btn" data-toggle="collapse" id="#{{todo.text}}_edit_button" data-target="">
                                        <span class = "glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                                <td><form  method = "post" action =  '{% url "delete_todo" %}'>
                                        {% csrf_token %}
                                        <input name = "id" value ="{{todo.id}}" hidden>
                                        <button type="submit" 
                                            id = "{{todo.text}}_delete_button"
                                            data-toggle="tooltip" data-placement="top" title="todo 삭제">
                                            <span class= "glyphicon glyphicon-remove"></span>
                                        </button>
                                </form> </td>
                                <td> {% if todo.due %}~{{ todo.due }} {% endif %} </td>
                                <td> {{ todo.text }} </td> 
                                <td> {% if todo.priority == 1 %}보통
                                    {% elif todo.priority == 2 %}중요
                                    {% elif todo.priority == 3 %}매우 중요
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                </div></div>
        

                <div class = "row"><div class ="col-xs-12 col-md-6 col-md-offset-3 jumbotron">
                    <h3>끝난 일들</h3>
                    <table id = "todo_complete_textBox" class = "col-xs-12 table table-hover">
                        <tr><th>삭제</th><th>기한</th><th>내용</th></tr>
                    {% for todo in list_of_todo_completed %}
                        <tr>
                            <td><form  method = "post" action =  '{% url "delete_todo" %}'>
                                    {% csrf_token %}
                                    <input name = "id" value ="{{todo.id}}" hidden>
                                    <button type="submit" 
                                        id = "{{todo.text}}_delete_button"
                                        data-toggle="tooltip" data-placement="top" title="삭제">
                                        <span class= "glyphicon glyphicon-remove"></span>
                                    </button>
                            </form> </td>
                            <td> {% if todo.due %}~{{ todo.due }} {% endif %}</td>
                            <td> {{ todo.text }} </td>
                        </tr> 
                    {% endfor %}
                    </table>
                </div>
        </div>
    </body>

</html>