<html>
    <head>
        <title>
            myToDoList
        </title>
    </head>

    <body>
        <form method = "POST" action = '{% url "add_todo" %}'>
            <input name = "todo_text" id = "todo_inputBox" placeholder="todo 항목 입력"  >
            <select name = "todo_priority" id = "priority_selectBox">
                <option value = 1 selected>보통</option>
                <option value = 2>중요</option>
                <option value = 3>매우 중요</option>
            </select>
            <button id = "add_todo_button" type = "submit" class = "btn btn-default">기록</button>
            {% csrf_token %}
        </form>

        <table id = "todo_textBox">
            <th><td>완료</td><td>삭제</td><td>내용</td><td>중요도</td></th>
            {% for todo in list_of_todo %}
            <tr>
                <td><form  method = "post" action =  '{% url "complete_todo" %}'>
                        {% csrf_token %}
                        <input name = "id" value ="{{todo.id}}" hidden>
                        <button type="submit" 
                            id = "{{todo.text}}_complete_button"
                            data-toggle="tooltip" data-placement="top" title="완료">
                        </button>
                </form> </td>
                <td><form  method = "post" action =  '{% url "delete_todo" %}'>
                        {% csrf_token %}
                        <input name = "id" value ="{{todo.id}}" hidden>
                        <button type="submit" 
                            id = "{{todo.text}}_delete_button"
                            data-toggle="tooltip" data-placement="top" title="삭제">
                        </button>
                </form> </td>

                <td> {{ todo.text }} </td> 
                <td> {% if todo.priority == 1 %}보통
                    {% elif todo.priority == 2 %}중요
                    {% elif todo.priority == 3 %}매우 중요
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>

        <br>
        <끝난 일들>

        <table id = "todo_complete_textBox">
            <th><td>삭제</td><td>내용</td></th>
        {% for todo in list_of_todo_completed %}
            <tr>
                <td><form  method = "post" action =  '{% url "delete_todo" %}'>
                        {% csrf_token %}
                        <input name = "id" value ="{{todo.id}}" hidden>
                        <button type="submit" 
                            id = "{{todo.text}}_delete_button"
                            data-toggle="tooltip" data-placement="top" title="삭제">
                        </button>
                </form> </td>
                <td> {{ todo.text }} </td>
            </tr> 
        {% endfor %}
        </table>


    </body>

</html>